<!DOCTYPE html>
<html lang="en">

<%- include('partials/header'); -%>
    <link rel="stylesheet" href="../public/CSS/register.css">
    <title>Document</title>
    </head>

    <body class="m-0 p-0">
        <div class=" banner-menu ">
            <a id="arrow" href="/user/registro"><img class="" width="200" src="../public/img/arrow-left.svg"></a>
        </div>
        <%- include('partials/cedula'); -%>
    </body>

</html>