<!DOCTYPE html>
<html lang="en">

<%- include('partials/header'); -%>
    <link rel="stylesheet" href="../public/CSS/register.css">
    <script src="../public/JS/recuperar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Your code -->

    <title>Document</title>
    </head>

    <body class="m-0 p-0">
        <div class="banner-menu mb-5">
            <a id="arrow" href="/user/login"><img class="" width="200" src="../public/img/arrow-left.svg"></a>
        </div>
        <%- include('partials/recuperacion_correo'); -%>
    </body>

</html>