<!DOCTYPE html>
<html lang="en">

<%- include('partials/header'); -%>
    <link rel="stylesheet" href="../public/CSS/vlog-articulo.css" />
    <title>Document</title>
</head>

<body>
    <%- include('partials/nav'); -%>
    <main>
        <div class="row mb-3 text-center">
            <div class="col-6 col-lg-5 themed-grid-col img-vlog p-0">
                <img class="h-100 w-100" src="../public/img/3d-illustration-eco-friendly-thumbs-260nw-398187610.png" alt="">
            </div>
            <div class="col-sm-6 col-lg-7 themed-grid-col titulo-vlog p-0">
                <div class="titulo-vlog-a text-light">
                    <div class="text-start mx-5 pt-5 w-100">
                        <h5>Media & Entertainment</h5>
                        <hr>
                    </div>
                    <div class="d-flex align-items-center mx-3  h-50">

                        <div class="text-start mx-4 banner-titulo">
                            <h4 class="mt-3">
                                <strong>
                                    Internal blog post reveals Automattic’s plan to enforce the WordPress trademark
                                    using
                                    ‘nice and not nice lawyers’
                                </strong>
                            </h4>
                        </div>
                    </div>
                    <div class=" d-flex align-items-end text-start mx-5 w-100 h-25">
                        <p><strong>Ivan Mehta</strong> - October 15, 2024</p>
                    </div>
                </div>
                <div class="titulo-vlog-b">
                </div>
            </div>
        </div>
        <section class="m-5 py-5">
            <div>
                <p class="text-justify font">
                    Matt Mullenweg, the WordPress co-founder and Automattic CEO, has been embroiled in a very public and
                    legal fight with WP Engine these last few weeks over the use of WordPress as a trademark, and fees
                    Automattic believes WP Engine owes to the WordPress project – sparring that has resulted in WP
                    Engine issuing legal demands of its own.
                    <br><br>
                    But Automattic’s position on the matter did not materialize overnight.
                    <br>
                    <br>
                    According to an internal blog post a source shared with TechCrunch, Automattic was crafting a plan
                    to get significantly stricter about trademark enforcement across WordPress and its e-commerce
                    platform WooCommerce since at least the beginning of the year. Separate sources have confirmed the
                    authenticity of the post.
                    <br><br>
                    The message – penned by Automattic’s then-chief legal officer Paul Sieminski in January 2024 on the
                    company’s “P2” (a version of WordPress aimed at internal communications) – outlined a plan for how
                    Automattic would approach this strategy, through direct negotiations with companies and via legal
                    action from “nice and not nice lawyers and trademark enforcers.” And Automattic potentially would
                    register further trademarks going forward.
                    <br><br>
                    “We will be using a multi-pronged strategy that will involve some additional trademark
                    registrations… legal cease-and-desist letters, and a formal paid licensing program for the
                    partners,” Simineski noted. (He left the company in April 2024.)
                    <br><br>
                    This is effectively what has played out.
                    <br><br>
                    In July, the WordPress Foundation filed trademark applications for both “Managed WordPress” and
                    “Hosted WordPress”, which are pending in status. And Automattic issued a cease-and-desist letter to
                    WP Engine at the end of last month. Neither Automattic nor the WordPress Foundation has yet to
                    publish any further guidance, however, on fair use.
                    Techcrunch event
                    TechCrunch Disrupt 2024
                    All Six Stage Agendas are Complete with Massive Invaluable Insights - AI, Fintech, Builders,
                    Disrupt, SaaS and Space.
                    Moscone West, San Francisco | October 28-30
                    REGISTER NOW
                    <br><br>
                    The WordPress Foundation, a non-profit, has owned the trademark for WordPress since 2010, when
                    Mullenweg founded Automattic as a commercial entity to sit on top of the open source framework.
                    <br><br>
                    He also clarified Automattic’s role around WordPress.org. The initiative “doesn’t involve creating
                    or explaining any new rules” beyond its trademark policy, he writes.
                    <br><br>
                    Google also makes an appearance in the post – primarily as a vehicle for enabling abuse of the
                    trademark.
                    <br><br>
                    “A brief perusal of Google Ads and hosting company landing pages will turn up a lot of ‘Managed
                    WordPress’, or companies that offer ‘WordPress Hosting.’” he wrote. “Is this OK? Can we clamp down
                    on these things? The answers are… no, and yes.”
                    <br><br>
                    Automattic, he wrote, would seek to work with Google to keep it from amplifying companies and links
                    that misused the branding. “Overall, they can help but we cannot rely on them 100%,” he added.
                    <br><br>
                    The post covers trademarks related to WooCommerce, Automattic’s Shopify competitor that it acquired
                    in 2015. WooCommerce is 100% owned by Automattic, and Automattic is following the same enforcement
                    strategy for it and its “Woo” branding. Enforcement, the counsel wrote in the internal blog post,
                    “will probably be easier and cleaner because it’s less of a community asset.” (WooCommerce itself is
                    also open source.)
                </p>
            </div>
        </section>
    </main>
</body>

</html>