<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">GFG</label>
    <ul>
        <li><a class="active" href="#">HTML</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">ReactJS</a></li>
        <li><a href="#">NodeJS</a></li>
    </ul>
</nav>
